@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
  background: black;
}



.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -50%;
}

.swiper-slide {
  background-size: cover;
  box-sizing: border-box;
  padding: 8em 3em;
  color: white;
  font-family: 'Montserrat';
  background-size: cover;

  h1 {
    font-size: 5em;
    line-height: 1em;

    &:before {
      content: ' ';
      position: absolute;
      top: 1em;
      width: 50%;
      height: 40%;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 7em;
  }
}

.slide1 {
  background: no-repeat url('../../images/Borabora.jpg');

  h1:before{
    border-left: 1px solid #fff;
    right: 0;
  }
}

.slide2 {
  background: no-repeat url('../../images/Paris.jpg');

  h1:before{
    border-right: 1px solid #fff;
    left: 0;
  }
  h1:after {
    border-left: 1px solid #fff;
    right: 0;
    content: ' ';
    position: absolute;
    top: 1em;
    width: 20%;
    height: 40%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.slide3 {
  background: no-repeat url('../../images/Zion.jpg');

  h1:before{
    border-right: 1px solid #fff;
    left: 0;
  }
  h1:after {
    border-left: 1px solid #fff;
    right: 0;
    content: ' ';
    position: absolute;
    top: 1em;
    width: 20%;
    height: 40%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.slide4 {
  background: no-repeat url('../../images/Iceland.jpg');

  h1:before{
    border-right: 1px solid #fff;
    left: 0;
  }
  h1:after {
    border-left: 1px solid #fff;
    right: 0;
    content: ' ';
    position: absolute;
    top: 1em;
    width: 20%;
    height: 40%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.slide5 {
  background: no-repeat url('../../images/giraffemanor.jpg');

  h1:before{
    border-right: 1px solid #fff;
    left: 0;
  }
  h1:after {
    border-left: 1px solid #fff;
    right: 0;
    content: ' ';
    position: absolute;
    top: 1em;
    width: 20%;
    height: 40%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.slide6 {
  background: no-repeat url('../../images/banff.jpg');

  h1:before {
    border-right: 1px solid #fff;
    left: 0;
  }
}

.swiper-button-next, .swiper-button-prev {
  top: 85%;
  outline: none;
}

.swiper-button-next {
  right: 3em;
}

.swiper-button-prev {
  left: 3em;
}
